section .skills {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }


section .skills-uno{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
section .skills-uno i{
  color: #000;
  padding: 15px 30px;
  font-size: 60px;
}

section .skills-uno i:hover{
  color: #c1881e;
  transition: all 0.2ms
}

 section .skills-two {
   margin-top: 20px;
 }
 @media(max-width:768px){
  section .skills-uno i{
    font-size: 40px;
  }
 }
  